
.idea/
.vs
.vscode

# Байт-код, оптимизированные / DLL-файлы
__pycache__

# инструменты и окружение
myenv/
.env
db.sqlite3
local_settings.py

# Файлы дистрибутивов и артефакты упаковки
dist/
*.egg-info/

# Файлы покрытия, кэши и прочие ненужные файлы
.coverage
*.py,cover
.cache/

# Исключение пакетов и файлов
parts/
.installed.cfg

# Учет операционно-системных файлов Windows 
Thumbs.db

